* {
    font-family: sans-serif;
}

body {
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 3rem;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    column-gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

#gameBox {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 3rem;
    
}

#playerOneBox, #playerTwoBox {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    background: rgba(60, 0, 68, 0.3);
    padding: 1rem;
    min-width: 15vw;
    border-radius: 30px;
}

#gameBox button {
    min-width: 10rem;

}

.diceBlock {
    max-height: 20vw;
    min-height: 20vw;
    max-width: 50vw;
    align-content: center;
}

img {
    max-height: 15vw;
}

ul {
    display: inline;
}